@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
}  
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: black;
}
img {
  max-width: 100%;
  height: auto;
}
button, input, textarea {
  outline: none;
  border: none;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.container img {
    width: 450px;
}
.container h2 {
  font-size: 20px;
  font-weight: 500;
}
.container h2 a {
    color: blue;
}

.btn-sended {
  display: inline-block; 
  display: flex;
  align-items: center;
  position: absolute;
  top: 15px;
  left: 20px;
  padding: .4rem .7rem;
  border-radius: 4px;
  color: #fff;
  background-color: #00bea2;
  transition: .3s;
  cursor: pointer;
}
.btn-sended i {
  font-size: 19px;
}
.btn-sended:hover {
  background-color: #12a38d;
  color : white;
}